<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./helpers/header.ejs') %>

        <title>FAME Admin- Dashboard</title>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include('./helpers/sidebar.ejs') %>

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Topbar -->
                
                <!-- End of Topbar -->
                <!-- Main Content -->
                
                    <div id="content">
                        
                        <%- include('./helpers/navbar.ejs') %>



                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                                
                            </div>

                            <!-- Content Row -->
                        <%- include('./helpers/dashboard-body')%>

                            
                            <!-- End of Footer -->
                        </div>
                        <!-- /.container-fluid -->

                    </div>
                    <!-- End of Main Content -->
                
                <!-- Footer -->
             

            </div>
            <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->


    <%- include('./helpers/script.ejs') %>


</body>

</html>