<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../helpers/header.ejs') %>
    <title>Messages</title>
</head>
<body>
    <div id="wrapper">
        <%- include('../helpers/sidebar.ejs') %>
        <div id="content-wrapper" class="d-flex flex-column">
            <%- include('../helpers/navbar.ejs') %>
            <div id="content">
                <% if (typeof message !== 'undefined') { %>
                    <div class="alert alert-info" role="alert">
                        <%= message %>
                    </div>
                <% } %>
                <div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800">Messages</h1>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">All Messages</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <% if (messages && messages.length > 0) { %>
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Full Name</th>
                                                <th>Email Address</th>
                                                <th>Subject</th>
                                                <th>Message</th>
                                                <th>Created At</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% messages.forEach(function(message) { %>
                                                <tr>
                                                    <td><%= message.id %></td>
                                                    <td><%= message.fullname %></td>
                                                    <td><%= message.emailaddress %></td>
                                                    <td><%= message.subject %></td>
                                                    <td><%= message.message %></td>
                                                    <td><%= new Date(message.created_at).toLocaleDateString() %></td>
                                                </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                <% } else { %>
                                    <p>No messages available at the moment.</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../helpers/script.ejs') %>
</body>
</html>