<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../helpers/header.ejs') %>
    <title>View Message</title>
</head>
<body>
    <div id="wrapper">
        <%- include('../helpers/sidebar.ejs') %>
        <div id="content-wrapper" class="d-flex flex-column">
            <%- include('../helpers/navbar.ejs') %>
            <div id="content">
                
                <div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800">View Message</h1>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Message Details</h6>
                        </div>
                        <div class="card-body">
                            <% if (message) { %>
                                <div class="row mb-3">
                                    <div class="col-md-3 font-weight-bold">ID:</div>
                                    <div class="col-md-9"><%= message.id %></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3 font-weight-bold">Full Name:</div>
                                    <div class="col-md-9"><%= message.fullname %></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3 font-weight-bold">Email Address:</div>
                                    <div class="col-md-9"><%= message.emailaddress %></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3 font-weight-bold">Subject:</div>
                                    <div class="col-md-9"><%= message.subject %></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3 font-weight-bold">Message:</div>
                                    <div class="col-md-9"><%= message.message %></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3 font-weight-bold">Created At:</div>
                                    <div class="col-md-9"><%= new Date(message.created_at).toLocaleString() %></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="/admin/messages" class="btn btn-secondary">Back to Messages</a>
                                    </div>
                                </div>
                            <% } else { %>
                                <p>No message details available.</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../helpers/footer.ejs') %>
</body>
</html>