<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../helpers/header.ejs') %>
        <title>File Viewer</title>
</head>

<body>
    <div id="wrapper">
        <%- include('../helpers/sidebar.ejs') %>
            <div id="content-wrapper" class="d-flex flex-column">
                <%- include('../helpers/navbar.ejs') %>
                    <div id="content">
                        <% if (typeof message !=='undefined' ) { %>
                            <div class="alert alert-info" role="alert"></div>
                            <%= message %>
                    </div>
                    <% } %>
                        <div class="container-fluid">

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Upload Paper</h6>
                                </div>
                                <div class="card-body">
                                    <form action="/admin/files/upload" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="file">Choose file to upload</label>
                                            <input type="file" class="form-control" id="file" name="file" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Upload</button>
                                    </form>
                                </div>
                            </div>
                        </div>
            </div>
    </div>
    </div>
    <%- include('../helpers/script.ejs') %>
</body>

</html>